# Exclude data directory
data/
/data/
**/data/

# Exclude questions directory
questions/
/questions/
**/questions/

# Exclude visualizations directory
visualizations/
/visualizations/
**/visualizations/

# Exclude logs directory
logs/
/logs/
**/logs/

# OS-specific files
.DS_Store
Thumbs.db

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo 